/* start styling */
*{
    margin: 0;
    padding: 0;
}

/* HEADER */
.navbar{
    top:0;
    position: sticky;
    height: 95px;
    background-color: #0065c3;
    
    
}
.navbar img{
    margin-top: 49px;
    margin-left:12px ;
    margin-right: 12px;
    height: 94px;
padding: 12px 12px;
}

.navbar .nav-items{
    color: white;
    font-weight: 700;
    font-size: 19px;
    padding: 32px;
    margin-top: -246px;
    font-family: 'Roboto', sans-serif
}
.Btn{
    border: 2px solid white;
    color: white;
    font-size: 19px;
    margin-top: -246px;
    font-family: 'Roboto', sans-serif;
    padding: 4px 31px;
    border-radius: 18px;
    font-weight: 700;
    
}

/* main */

.main{
  display: flex;
  background: black;
  background-size: auto;
  /* height: 550px; */
  margin-left:12px ;
  position: relative;
}

.image-1{
    margin-top: -100px;
   height:50vh;
}

.main-container{
    display: flex;
}

/* FOOTER */
.main-footer{
    background-color:#0065c3; ;
    color: white;
}

.main-footer-container img{
    height: 100%;
}

.end-footer{
    background-color: black;
    content: white;
}

.main-footer h2,.main-footer h4{
    font-weight: bold;
    color: white;
}